@model IEnumerable<MvcProject.Models.Policlinic>

@{
    ViewData["Title"] = "Index";
}

<h1>Poliklinikler</h1>
<br />
<p>
    <a class="btn btn-primary" asp-action="Create">Yeni Kayıt</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                İsim
            </th>
            <th>
                Ana Bilim Dalı
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Major.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detaylar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
